
<div class ="col-xs-3">
	<h2>User info</h2>
	<%= attachment_image_tag user, :profile_image, size: "100x100", format: 'jgg', fallback: "no_img.jpg", class: "user-image" %>
	<table class ="table">
		<tbody>
			<tr>
				<th>name</th>
				<th><%= user.name %></th>
			</tr>
			<tr>
				<th>introduction</th>
				<th><%= user.introduction %></th>
			</tr>
			<tr>
				<th>follows</th>
				<th><a href ="/relationships/<%= user.id %>/follow"><%= user.followings.count %></a></th>
			</tr>
			<tr>
				<th>followers</th>
				<th><a href ="/relationships/<%= user.id %>/follower"><%= user.followers.count %></a></th>
			</tr>
		</tbody>
	</table>
	<div class ="row">
		<div class ="col-xs-12">
			<% if controller.controller_name == 'users' && controller.action_name == 'show' %>
				<%= render 'layouts/relationship', user: @user %>
			<% else %>
				<%= link_to  edit_user_path(user.id), class: "btn btn-default col-xs-12" do %>
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
		   	 	<% end %>
			<% end %>
		</div>
	</div>
	<h2>New book</h2>
	<%= form_for(book) do |f| %>
		<div class ="field row">
			<label class ="title">Title</label>
			<div class ="col-xs-12"><%= f.text_field :title, class: "col-xs-12 title-box" %></div>
		</div>
		<div class ="field row">
			<label class ="body">Opinion</label>
			<div class ="col-xs-12"><%= f.text_area :body, class: "col-xs-12 body-box" %></div>
		</div>
		<div class ="action row">
			<%= f.submit 'Create Book' ,class: "col-xs-12 create-btn" %>
		</div>
	<% end %>
</div>