
<div class ="container">
	<%= render 'layouts/error_messages'%>
	<div class ="row">
		<%= render 'users/list', book: @book, user: @user %>
		<div class ="col-xs-9">
			<h2>Books</h2>
			<table class ="table">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
					</tr>
				</thead>
				<tbody>
					<% @books.each do |book| %>
						<tr>
							<th>
								<a href = "/users/<%=book.user.id%>"><%= attachment_image_tag book.user, :profile_image, size: "40x40", format: 'jgg', fallback: "no_img.jpg", class: "user-image" %></a>
							</th>
							<th><a href = "/books/<%=@book.id%>"><%= book.title %></a></th>
							<th><%= book.body %></th>
							<th id="like-<%= book.id %>"><%= render partial: 'layouts/like',locals: {book: book} %></th>
							<th>コメント数 <%= book.bookcomments.count %></th>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

