
<div class ="container">
	<%= flash[:create] %>
	<%= flash[:update] %>
	<div class ="row">
		<%= render 'users/list', book: @book_new, user: @user %>
		<div class ="col-xs-9">
			<h2>Book detail</h2>
			<table class ="table">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<%= attachment_image_tag @book.user, :profile_image, size: "50x50", format: 'jgg', fallback: "no_img.jpg", class: "user-image" %></br>
							<a href ="/users/<%= @book.user.id %>"><%= @book.user.name %></a>
						</td>
						<td><a href ="/books/<%= @book.id %>"><%= @book.title %></a></td>
						<td><%= @book.body %></td>
						<% if current_user.id == @book.user.id %>
							<td><%= link_to "Edit", edit_book_path(@book.id), class: "edit_btn" %></td>
							<td><%= link_to "Destroy", book_path, method: :delete , class: "dleate_btn", "data-confirm" => "本当に削しますか？"%></td>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>










