<div class ="container">
	<row>
		<div class ="col-xs-12">
			<% if @user_or_book == "1" %>
				<h2>Users search for <%= @search %></h2>
				<table class ="table">
					<thead>
						<tr>
							<th>Image</th>
							<th>Name</th>
							<th>Introduction</th>
						</tr>
					</thead>
					<tbody>
						<% @users.each do |user| %>
							<tr>
								<td><%= attachment_image_tag user, :profile_image, format: 'jpg',fallback: "no_img.jpg", size: "40x40" %></td>
								<td><%= user.name %></td>
								<td><%= user.introduction %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% else %>
				<h2>Books search for <%= @search %></h2>
				<table class ="table">
					<thead>
						<tr>
							<th>Image</th>
							<th>Title</th>
							<th>Opinion</th>
						</tr>
					</thead>
					<tbody>
						<% @books.each do |book| %>
							<tr>
								<td><%= attachment_image_tag book.user, :profile_image, format: 'jpg',fallback: "no_img.jpg", size: "40x40" %></td>
								<td><%= book.title %></td>
								<td><%= book.body %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
		</div>
	</row>
</div>