<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class ="header">
      <div class ="container">
        <div class ="header-nav-left">
          <p class ="header-logo">Bookers</p>
        </div>
        <nav>
          <ul class ="header-nav-right">
            <%if user_signed_in? %>
              <li>
                <%= link_to user_path(current_user.id), class: "header-list" do %>
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
                <% end %>
              </li>
              <li>
                <%= link_to users_path, class: "header-list" do %>
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Users
                <% end %>
              </li>
              <li>
                <%= link_to books_path, class: "header-list" do %>
                  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Books
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: "header-list" do %>
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>logout
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to root_path, class: "header-list" do %>
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
                <% end %>
              </li>
              <li>
                <%= link_to home_about_path, class: "header-list" do %>
                  <span class="glyphicon glyphicon-link" aria-hidden="true"></span>About
                <% end %>
                </li>
              <li>
                <%= link_to new_user_registration_path, class: "header-list" do %>
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Sign up
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path, class: "header-list" do %>
                  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>login
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>

    <div class ="container">
      <% if user_signed_in? %>
        <div class ="search_box">
          <%= form_tag(searchs_search_path, :method => 'get') do %>
              <%= text_field_tag :search %>
              <%= select_tag(:model, options_for_select([["USER", "1"],["BOOK","2"]]))%>
              <%= select_tag(:choice, options_for_select([["完全一致", "1"],["前方一致","2"],["後方一致","3"],["部分一致","4"]]))%>
              <%= submit_tag 'Search' %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= yield %>
    <footer>
      <div class ="container">
        <p class ="footer_logo">CopyRight Infratop.inc</p>
      </div>
    </footer>
  </body>
</html>
