<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class ="header">
      <div class ="container">
        <div class ="header-nav-left">
          <p class ="header-logo">Bookers</p>
        </div>
        <nav>
          <ul class ="header-nav-right">
            <%if user_signed_in? %>
              <li><%= link_to "Home", user_path(current_user.id), class: "header-list-icon" %></li>
              <li><%= link_to "Users", users_path, class: "header-list"  %></li>
              <li><%= link_to "Books", books_path, class: "header-list"  %></li>
              <li><%= link_to "logout", destroy_user_session_path, method: :delete, class: "header-list"  %></li>
            <% else %>
              <li><%= link_to "Home", "/", class: "header-list"  %></li>
              <li><%= link_to "About","#", class: "header-list"  %></li>
              <li><%= link_to "Sign up", new_user_registration_path, class: "header-list"  %></li>
              <li><%= link_to "login", new_user_session_path, class: "header-list"  %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
